.App {
  background-color: #000853;
  color: white;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
}

.grid-card {
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  position: relative;
}

.grid-card-media {
  padding: 10rem;
  position: relative;
}

.grid-photo-wrap {
  position: relative;
}
 
.grid-photo {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

.spinner {
  margin-left: 45%;
  margin-top: 20%;      
}